.container{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.header{
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  background-color: rgb(63, 60, 60);
  color:antiquewhite;
  font-weight: bolder;
  font-size: xx-large;
}

.content{
    display: flex;
    height: 100%;
}

.mainInput{
    padding: 10px;
    resize: none;
    flex-grow: 1;
    width: 50%;
    overflow-y: scroll;
    outline: none;
    font-size: medium;
    border:none;
}

.markdownResult{
    flex-grow: 1;
    width: 50%;
    padding: 10px;
}


